# Dependencies
node_modules

# Turbo
.turbo

references

# Build Outputs
build
dist
dist-ssr
esm
*.tgz
tsconfig.tsbuildinfo
tsconfig.app.tsbuildinfo
tsconfig.node.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?